@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
}

body {
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div a {
  margin: 0.5em;
  text-decoration: none;
  /* color: #11ffb4; */
}
